# Token del bot de Telegram
TELEGRAM_TOKEN="1234567890QWERTY"
# ID del usuario de Telegram autorizado
MY_USER_ID="123456789012345"
# Token secreto para validar el origen
SECRET_TOKEN="1234567890QWERTY"
# URL para comprobar si va el internet
TARGET_URL="url"
# URL y Token para la base de datos de Redis de Upstash
UPSTASH_REDIS_REST_URL="redisurl"
UPSTASH_REDIS_REST_TOKEN="1234567890QWERTY"
